/build
/captures
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/sonarlint
/.idea/vcs.xml
/.idea/workspace.xml
*.iml
local.properties
utilsLib/.classpath
